<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <%- include("./header.ejs")%> -->
    <div class="products-header">
      <h2><%=title%></h2>
      <form action="post">
        <input
          type="search"
          name="search"
          placeholder="Search for products..."
        />
      </form>
      <div class="products-header-actions">
        <a href="/items/new"><button>New product</button></a>
      </div>
    </div>

    <table class="products-list">
      <thead>
        <tr>
          <th>Item</th>
          <th>Category</th>
          <th>Price</th>
          <th>Remaining in stock</th>
        </tr>
      </thead>
      <% products.forEach((product)=>{ %>
      <tr>
        <td><%= product.product_name%></td>
        <td><%= product.category_name%></td>
        <td><%= product.product_price%></td>
        <td><%= product.products_remaining%></td>
      </tr>
      <% })%>
    </table>
  </body>
</html>
